@use '../../scss/variables/index' as *;

.search-bar{
    height: 100%;
    display: flex;
    align-items: center;
    &.search-bar--show-input{
        gap: 16px;
        input{
            display: block;
            width: 100%;
            transform: scaleX(1);
            transition: transform 0.2s linear, width 0.2s ease;
        }
    }
    input{
        width: 0;
        background: $purple;
        border: none;
        padding: 8px;
        border-radius: 4px;
        color: $white;
        transform: scaleX(0);
        transition: transform 0.2s linear, width 0.2s ease;
        &:focus{
            outline: 1px solid $green-1;
        }
    }
    .search-bar__icon{
        cursor: pointer;
        img{
            width: 32px;
            height: 32px;
        }
    }
}



// <div className="search-bar">
//             <input type='text' onChange={(e)=>onChange(e.target.value)}/>
//             <figure className="search-bar__icon">
//                 <img src={searchIcon} alt="Buscar" />
//             </figure>
//         </div>