$purple: #54478C;
$dark-blue: #2C699A;
$blue: #048BA8;
$light-blue: #0DB39E;
$green-1: #16DB93;
$green-2: #83E377;
$green-3: #B9E769;
$yellow: #EFEA5A;
$light-orange: #F1C453;
$orange: #F29E4C;
$black: #0A0A0A;
$white: #FDFDFD;